<!DOCTYPE html>
<html lang="en">

	<head>
		<%-include('../components/head')%>
		<link rel="stylesheet" href="/public/stylesheets/profile.css">
		<title>Profile</title>
	</head>

	<body class="flex-box center">
		<header>
			<%-include('../components/navbar', {page: "profile"})%>
		</header>
		<main>
			<div class="profile_picture">
				<img src="/public/images/profile/<%= user.U_ID %>.jpg" alt="Your Profile Picture">
				<a href="/profile/picture/">Change Picture</a>
			</div>
			<div class="profile_area">
				<h1><%= user.username %></h1>
				<h2><%= user.first_name + " "+ user.last_name %></h2>
				<% if(user.username==viewer.username) { %>
				<ul class="settings_area">
					<li>
						<a href="/profile/edit">
							<span class="material-symbols-rounded">
								manage_accounts
							</span>
							Edit
						</a>
					</li>
					<li>
						<a href="/profile/share">
							<span class="material-symbols-rounded">
								share
							</span>
							Share
						</a>
					</li>
					<li>
						<form method="post" action="/profile/delete">
							<button type="submit" name="submit_param" value="submit_value" class="link-button">
								<span class="material-symbols-rounded">
									delete
								</span>
								Delete
							</button>
						</form>
					</li>
					<li>
						<a href="/logout">
							<span class="material-symbols-rounded">
								logout
							</span>
							Logout
						</a>
					</li>
				</ul>
				<% } else if(games.length >0) { %>

				<form>

					<div class="input_area flex-box vertical">
						<%-include('../components/dropdown', {label: "Visibility", type: "number", options: [games]})%>
					</div>


				</form>
				<% } %>
			</div>
		</main>
	</body>

</html>