<!DOCTYPE html>
<html lang="en">

	<head>
		<%-include('../components/head')%>
		<link rel="stylesheet" href="/public/stylesheets/components/dropdown.css">
		<link rel="stylesheet" href="/public/stylesheets/profile.css">
		<title>Profile</title>
	</head>

	<body class="flex-box center">
		<header>
			<%-include('../components/navbar', {page: "profile"})%>
		</header>
		<main>
			<div class="profile_picture">
				<img src="/public/images/profile/<%= user.U_ID %>.jpg" alt="Your Profile Picture">

				<% if(user.username==viewer.username) { %>
				<a href="/profile/picture/">Change Picture</a>
				<% }%>
			</div>
			<div class="profile_area">
				<h1><%= user.username %></h1>
				<h2><%= user.first_name + " "+ user.last_name %></h2>
				<% if(user.username==viewer.username) { %>
				<ul class="settings_area">
					<li>
						<a href="/profile/edit">
							<span class="material-symbols-rounded">
								manage_accounts
							</span>
							Edit
						</a>
					</li>
					<li>
						<a href="#" id="shareButton">
							<span class="material-symbols-rounded">
								share
							</span>
							Share
						</a>
						<script>
							const shareButton = document.getElementById('shareButton');

							shareButton.addEventListener('click', () => {
								if(navigator.share) {
									navigator.share({
											title: 'Shared Title',
											text: 'Shared Text',
											url: 'https://example.com'
										})
										.then(() => console.log('Sharing succeeded.'))
										.catch((error) => console.log('Sharing failed:', error));
								} else {
									console.log('Sharing is not supported in this browser.');
								}
							});
						</script>

					</li>
					<li>
						<form method="post" action="/profile/delete">
							<button type="submit" name="submit_param" value="submit_value" class="link-button">
								<span class="material-symbols-rounded">
									delete
								</span>
								Delete
							</button>
						</form>
					</li>
					<li>
						<a href="/logout">
							<span class="material-symbols-rounded">
								logout
							</span>
							Logout
						</a>
					</li>
				</ul>
				<% } else if(locals.games && games.length > 0) { %>


				<form class="input_area flex-box vertical" method="post" action="#">
					<div class="dropdown">
						<label for="id">Select Game</label>
						<select name="id" class="login_text" required>
							<% games.forEach(game => { %>
							<option value="<%= game.G_ID %>" selected="selected"><%= game.name %></option>
							<% }); %>
						</select>
					</div>
					<input type="submit" value="Add to game..." class="button">
				</form>


				<% } %>
			</div>
		</main>
	</body>

</html>