<a href="/game/<%= game.G_ID %>" class="game_card <%= game.stage %>">
	<img src="/public/images/icons/<%= game.icon %>.svg" alt="Game Image">
	<div class="text_area">
		<h2><%= game.name %></h2>
		<p><%= game.current_members +" / "+ game.max_members %></p>
	</div>
	<div class="icon_area">
		<span class="material-symbols-rounded">
			<% switch (game.visibility) {
                case "visible":
                %><%= "visibility"%><%
                    break;
			case "unlisted":
			%><%= "visibility_off"%><%
			break;
			case "hidden":
			%><%= "disabled_visible"%><%
			break;
			default:
			%><%= "question_mark"%><%
			break;
			} %>
		</span>
		<span class="material-symbols-rounded">
			<% switch (game.stage) {
                case "paused":
                %><%= "pause"%><%
                    break;
			case "running":
			%><%= "play_arrow"%><%
			break;
			case "ended":
			%><%= "stop"%><%
			break;
			default:
			%><%= "question_mark"%><%
			break;
			} %>
		</span>
	</div>
</a>