<a href="/game/<game_uuid>" class="game_card <%= stage %>">
	<img src="/public/images/gameImage.svg" alt="Game Image">
	<div class="text_area">
		<h2>Game Name</h2>
		<p>12 / 16 members</p>
	</div>
	<div class="icon_area">
		<span class="material-symbols-rounded">
			visibility
		</span>
		<span class="material-symbols-rounded">
			<% switch (stage) {
                case "paused":
                %><%= "pause"%><%
                    break;
			case "running":
			%><%= "play_arrow"%><%
			break;
			case "ended":
			%><%= "stop"%><%
			break;
			default:
			%><%= "question_mark"%><%
			break;
			} %>
		</span>
	</div>
</a>