<!DOCTYPE html>
<html lang="en">

	<head>
		<%- include('components/head') %>
		<link rel="stylesheet" href="/public/stylesheets/home.css">
		<link rel="stylesheet" href="/public/stylesheets/components/icon_button.css">
		<link rel="stylesheet" href="/public/stylesheets/game/games.css">
		<title>Home</title>
	</head>

	<body>
		<nav>
			<%- include('components/navbar', {page: "home"}) %>
			<div class="iconButton_area">
				<!-- TODO: Check if notifications -> show notifications_active icon -->
				<%- include('components/iconButton', {icon: "notifications", location: "/notifications"}) %>
				<%- include('components/iconButton', {icon: "add", location: "/game/create", label:"Create"}) %>
			</div>

		</nav>
		<main>
			<h1>Your Games</h1>

			<!-- TODO: check if any games exist -->
			<% if(games.length>0) { %>
			<div class="game_area">

				<% games.forEach((game) => {%>
				<%-include('components/game', {game})%>
				<% }); %>

				<p><a href="/game/history">View</a> old games or <a href="/game/create">Create</a> a new one</p>
			</div>
			<% } else { %>

			<div class="no_games_area">
				<p>
					You are currently part of no game.<br>
					<a href="/game/create">Create</a>, or <a href="/search">Join</a> a game...
				</p>
			</div>
			<% } %>
		</main>
	</body>

</html>