<!DOCTYPE html>
<html lang="en">

	<head>
		<%-include('components/head')%>
		<link rel="stylesheet" href="/public/stylesheets/login_register.css">
		<title>Register</title>
	</head>

	<body class="flex-box center vertical">
		<%-include('components/back')%>
		<form action="#" method="post" class="input_form" id="register">
			<h1 class="heading">Register</h1>
			<div class="input_area flex-box vertical">
				<%-include('components/input_field', {name:"username", label:"Username", autocomplete:"nickname", type:"text"})%>
				<%-include('components/input_field', {name:"first_name", label:"First Name", autocomplete:"given-name", type:"text"})%>
				<%-include('components/input_field', {name:"last_name", label:"Last Name", autocomplete:"additional-name", type:"text"})%>
				<%- include('components/input_field', {name:"password", label:"Password", type:"password", autocomplete:"new-password"}) %>
				<%- include('components/input_field', {name:"password", label:"Repeat Password", type:"password", autocomplete:"new-password"}) %>
			</div>
			<input type="submit" value="Register">
			<p>Already have an account? <a href="/login">Login</a> instead!</p>
		</form>

	</body>

</html>