<!DOCTYPE html>
<html lang="en">

	<head>
		<%-include('components/head')%>
		<link rel="stylesheet" href="/public/stylesheets/login_register.css">
		<title>Register</title>
	</head>

	<body class="flex-box center vertical">
		<header>
			<nav>
				<%-include('components/back')%>
			</nav>
		</header>
		<main>
			<form action="#" method="post" class="input_form" id="register">
				<h1 class="heading">Register</h1>
				<div class="input_area flex-box vertical">
					<%-include('components/input_field', {label:"Username", autocomplete:"nickname", type:"text"})%>
					<%-include('components/input_field', {label:"First Name", autocomplete:"given-name", type:"text"})%>
					<%-include('components/input_field', {label:"Last Name", autocomplete:"family-name", type:"text"})%>
					<%- include('components/input_field', {label:"Password", type:"password", autocomplete:"new-password"}) %>
					<%- include('components/input_field', {label:"Repeat Password", type:"password", autocomplete:"new-password"}) %>
				</div>
				<input type="submit" value="Register">
				<p>Already have an account? <a href="/login">Login</a> instead!</p>
			</form>
		</main>

	</body>

</html>