<!DOCTYPE html>
<html lang="en">

	<head>
		<%-include('components/head')%>
		<link rel="stylesheet" href="/public/stylesheets/login_register.css">
		<title>Register</title>
	</head>

	<body class="flex-box center vertical">
		<header>
			<nav>
				<%-include('components/back')%>
			</nav>
		</header>
		<main>
			<form action="#" method="post" class="input_form" id="register">
				<h1 class="heading">Register</h1>
				<div class="input_area flex-box vertical">
					<%-include('components/input_field', {label:"Username", autocomplete:"nickname", type:"text"})%>
					<%-include('components/input_field', {label:"First Name", autocomplete:"given-name", type:"text"})%>
					<%-include('components/input_field', {label:"Last Name", autocomplete:"family-name", type:"text"})%>
					<%- include('components/input_field', {label:"Password", type:"password", autocomplete:"new-password"}) %>
					<%- include('components/input_field', {label:"Repeat Password", type:"password", autocomplete:"new-password"}) %>
				</div>
				<input type="submit" value="Register" class="button" id="submit_button">
				<p>Already have an account? <a href="/login">Login</a> instead!</p>
			</form>
		</main>

	</body>

	<script>
		const submit = document.getElementById('submit_button');
		const username = document.getElementById('username');
		const feedback = document.getElementById('lable_username');
		const input_field = document.getElementById('input_field_username');

		username.addEventListener('input', () => {
			const inputValue = username.value.trim();
			fetch('./api/user/available/' + inputValue)
				.then((res) => res.json())
				.then((data) => {
					if(data) {
						submit.removeAttribute('disabled', 'false');
						input_field.className = 'input_field';
						feedback.textContent = 'Username';
					} else {
						submit.setAttribute('disabled', 'true');
						input_field.className = 'input_field unavailable';
						feedback.textContent = 'Username already taken';
					}
				})
				.catch((error) => {
					console.error('Error:', error);
				});

		});
	</script>

</html>