<!DOCTYPE html>
<html lang="en">

	<head>
		<%- include('../components/head.ejs') %>
		<link rel="stylesheet" href="/public/stylesheets/search.css">
		<link rel="stylesheet" href="/public/stylesheets/game/chat.css">
		<title>Chat</title>
	</head>

	<body>
		<nav>
			<%- include('../components/back') %>
			<%- include('../components/navbar', {page: 'home'}) %>
		</nav>

		<main>
			<div class="chat_area">
				<div class="chat_description">
					<h1 class="subtitle"> <%= santa ? "Santa" : "Recipient" %><%= showThem ? ': '+chatPartner.username : '' %></h1>
				</div>
				<div class="chat" id="chat">
					<% messages.forEach((message) => {%>
					<div class="chat_message <%= message.sender === user.id ? 'me': 'them'%>">
						<div class="message_image">
							<img src="/public/images/profile/<%= showThem || message.sender === user.id ?  (message.sender === user.id ? user.id : chatPartner.U_ID): 'hidden' %>.jpg" alt="Image of sender">
						</div>
						<div class="message">
							<p>
								<%= message.message_content %>
							</p>
							<div class="timestamp description">
								<%= message.timestamp.toLocaleString(undefined, {
								  hour: '2-digit',
								  minute: '2-digit'
								}) %>
							</div>
						</div>
						<!-- Set the messages read! -->
					</div>
					<%}); %>
				</div>
				<div class="input_area">
					<input type="text" name="message" id="message_input" placeholder="Message...">
					<span class="material-symbols-rounded" onclick='addMessage("<%=user.id%>", "<%=chatId%>")'>
						send
					</span>
				</div>
			</div>
		</main>
	</body>
	<script src="/public/javascripts/chat.js"></script>

</html>