<!DOCTYPE html>
<html lang="en">

	<head>
		<%-include('../components/head')%>
		<link rel="stylesheet" href="/public/stylesheets/game/create.css">
		<link rel="stylesheet" href="/public/stylesheets/components/dropdown.css">

		<title>Create Game</title>
	</head>

	<body>
		<nav>
			<%-include('../components/back')%>
			<%-include('../components/navbar', {page: "home"})%>
		</nav>
		<main class="flex-box center">
			<form action="#" method="post" class="input_form">
				<%-include('../components/input_field', {label: "Game Name", type: "text",autocomplete: "game-name"})%>
				<%-include('../components/input_field', {label: "Member Count", type: "number",autocomplete: "game-member-count"})%>
				<%-include('../components/input_field', {label: "Start Date", type: "datetime-local",autocomplete: "game-start-date"})%>
				<%-include('../components/input_field', {label: "Number of Circles", type: "number",autocomplete: "game-number-of-curcles"})%>
				<p>The number of circles defines how many people are in a row before you arrive at the start again. (Set 0 for a circle that goes through all people)</p>
				<%-include('../components/dropdown', {label: "Visibility", type: "number", options: ['Visible','Unlisted','Hidden']})%>
				<input type="submit" value="Creat Group" class="button">
			</form>
		</main>
	</body>

</html>